<div class="container-fluid">

    <h1>URL Shrinker</h1>

    <form action="/shorturl/shortUrls" method="POST" class="my-4 form-inline">
        <label for="fullUrl" class="sr-only">Url</label>
        <input required placeholder="Url" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2">
        <br>
        <button class="btn btn-success" type="submit">Shrink</button>
    </form>

    <table style="width: 20px;" class="table">
        <thead>
            <tr>
                <th>Full URL</th>
                <th>Short URL</th>
                <th>Clicks</th>
                <th>Danger</th>
            </tr>
        </thead>
        <tbody>
            <% shortUrls.forEach((shortUrl) => { %>
                <tr>
                    <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>

                    <td><a href="/shorturl/<%= shortUrl.short %>"><%= req.headers.host %>/shorturl/<%= shortUrl.short %></a></td>

                    <td><%= shortUrl.clicks %></td>
                    
                    <td>
                        <form action="/shorturl/<%= shortUrl.short %>?_method=DELETE" method="POST" class="d-inline">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            <% }) %> 
        </tbody>
    </table>
</div>